<nav class="navbar navbar-expand-lg navbar-light" id="navigation">
  <a class="navbar-brand" href="{{ url_for('index') }}">Book Catalogue</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="{{ url_for('search') }}">Search <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="{{ url_for('booklist') }}">Catalogue</a>
      <a class="nav-item nav-link" href="{{ url_for('account') }}">Your Reviews</a>
    </div>
  </div>

  <span class=".navbar-text">
    {% if username %}
      <a href="{{ url_for('logout') }}">Logout</a>
      <span class="badge badge-success">{{username}}</span>
    {% else %}
      <a href="{{ url_for('register') }}">Register</a>
      <a href="{{ url_for('login') }}">Login</a>
    {% endif %}
  </span>

</nav>